{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if msj|length > 1%}
        <div class="alert alert-{{type_alert}} alert-dismissible fade show" role="alert">
            <strong>{{msj}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <h1 class="text-center">Login</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="contraseña" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>


{% endblock %}